html,
body {
  margin: 0;
}
.video {
  height: 92vh;
}

#myVideo {
  object-fit: cover;
  height: 92vh;
  width: 100%;
}

.aboutcontainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/m3.jpg);
  color: aliceblue;
  height: 93vh;
  background-size: cover;
  display: flex;
}
.abt1 {
  flex: 1;
}
.abt2 {
  flex: 3;
  text-align: center;
}
.abtc1 {
  font-size: 50px;
  margin-top: 10vh;
}
.abtc2 {
  font-size: 18px;
  margin-top: 22px;
  color: rgb(251, 252, 253);
}
.abt3 {
  flex: 1;
}
